@use "base/mixins" as m;
@use "base/variables" as v;

.no-proyectos {
  @include m.grid(1, 2rem);
  justify-content: center;
  align-content: center;
  a {
    @include m.boton(v.$indigo, v.$blanco);
    &{display: block; // Hace que el enlace ocupe toda el área del contenedor
    max-width: 50rem;
    height: 100%; // Asegura que el enlace ocupe toda la altura del contenedor
    }
  }
}

.listado-proyectos {
  list-style: none;
  padding: 0;
  margin-top: 3rem;

  @include m.grid(1, 2rem);
  @include m.tablet {
    @include m.grid(2, 2rem);
  }
  @include m.desktop {
    @include m.grid(3, 2rem);
  }

  .proyecto {
    @include m.boton(v.$indigo, v.$blanco);
    &{min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    position: relative; // Necesario para que el enlace ocupe todo el espacio del contenedor

    a {
      color: v.$blanco;
      text-transform: uppercase;
      position: absolute; // Posiciona el enlace para que ocupe todo el espacio del contenedor
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
}
